body{
	background-color:#E1E0E7
}

#title{
	text-align: center;
}

.subtitle{
	text-align: center;
	border: 3px black dashed;
	border-radius: 30px;
}

.spic img{
	height:200px;
	width:200px;
}

.border img{
	border: 5px black solid;
	border-radius: 30px;
}

.fab{
	color: gray;
	font-size: 100px;
}

h1{
	color:#ffffff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 50pt
	width:100vw;
	height:35vh; 
	background-image: url("https://images.unsplash.com/photo-1538685634737-24b83e3fa2f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
	background-repeat: no-repeat;
}

h2{
	color:#363636;
	font-family: 'Roboto Condensed', sans-serif;
}

p{
	color:#363636;
	font-family: 'Roboto', sans-serif;

}
li{
	color:#363636;
	font-family: 'Roboto', sans-serif;
}
